<div class="grid p-fluid grid-nogutter">
  <div class="col-7">
    <div class="grid grid-nogutter">
      <div class="col-6">
        <div class="grid grid-nogutter">
          <div class="col-12 pb-3" *ngIf="isShowSkillMultiplierTable">
            <p-table [value]="skillMultiplierTable" styleClass="p-datatable-sm" [tableStyle]="{ width: '100%', 'table-layout': 'fixed' }">
              <ng-template pTemplate="header">
                <tr>
                  <th class="color_highlight" title="Nome da habilidade">Habilidade</th>
                  <th style="width: 3rem" title="Bônus de dano da habilidade">%</th>
                  <th style="width: 3rem" title="Modificador de tempo de recarga (Cooldown)">CD</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-val>
                <tr>
                  <td class="text_ellips_no_height">
                    <span
                      class="skill_name_cell"
                      [pTooltip]="skillTooltip ? skillTooltip(val) : (val.displayName || val.name)"
                      [escape]="false"
                      tooltipPosition="top"
                      [showDelay]="400"
                      tooltipStyleClass="item_desc_tooltip"
                    >
                      <img *ngIf="val.icon" [src]="val.icon | iconUrl: 'skill'" alt="" class="skill_icon" />
                      <a
                        *ngIf="val.icon"
                        class="skill_label_text skill_link"
                        href="https://www.divine-pride.net/database/skill/{{ val.icon }}"
                        target="_blank"
                        rel="noreferrer noopener"
                        >{{ val.displayName || val.name }}</a
                      >
                      <span *ngIf="!val.icon" class="skill_label_text">{{ val.displayName || val.name }}</span>
                    </span>
                  </td>
                  <td>
                    <span class="{{ !!val.value ? 'summary_damage bonus_clickable' : '' }}" (click)="val.value && onSkillClick(val, 'value')">{{ val.value || '-' }}</span>
                  </td>
                  <td>
                    <span class="{{ !!val.cd ? 'summary_damage bonus_clickable' : '' }}" (click)="val.cd && onSkillClick(val, 'cd')">{{ val.cd || '-' }}</span>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
          <div class="col-12 pb-3">
            <p-table [value]="classTable" styleClass="p-datatable-sm" [tableStyle]="{ 'min-width': '10rem' }">
              <ng-template pTemplate="header">
                <tr>
                  <th class="color_highlight">Classe</th>
                  <th title="Físico">F</th>
                  <th title="Mágico">M</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-val>
                <tr>
                  <td>{{ val.displayName || val.name }}</td>
                  <td>
                    <span class="{{ val.physical != 0 ? 'summary_stat_atk bonus_clickable' : '' }}" (click)="val.physical && onClassClick(val, 'physical')">{{ val.physical || '-' }}</span>
                  </td>
                  <td>
                    <span class="{{ val.magical != 0 ? 'summary_stat_matk bonus_clickable' : '' }}" (click)="val.magical && onClassClick(val, 'magical')">{{ val.magical || '-' }}</span>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
          <div class="col-12 pb-3" *ngIf="isShowSizeTable">
            <p-table [value]="sizeTable" styleClass="p-datatable-sm" [tableStyle]="{ 'min-width': '10rem' }">
              <ng-template pTemplate="header">
                <tr>
                  <th class="color_highlight">Tamanho</th>
                  <th title="Físico">F</th>
                  <th title="Mágico">M</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-val>
                <tr>
                  <td>{{ val.displayName || val.name }}</td>
                  <td>
                    <span class="{{ val.physical != 0 ? 'summary_stat_atk bonus_clickable' : '' }}" (click)="val.physical && onSizeClick(val, 'physical')">{{ val.physical || '-' }}</span>
                  </td>
                  <td>
                    <span class="{{ val.magical != 0 ? 'summary_stat_matk bonus_clickable' : '' }}" (click)="val.magical && onSizeClick(val, 'magical')">{{ val.magical || '-' }}</span>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
          <div class="col-12" *ngIf="isShowAtkTypeTable">
            <p-table [value]="atkTypeTable" styleClass="p-datatable-sm" [tableStyle]="{ 'min-width': '10rem' }">
              <ng-template pTemplate="header">
                <tr>
                  <th></th>
                  <th class="color_highlight">%</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-val>
                <tr>
                  <td>{{ val.displayName || val.name }}</td>
                  <td>
                    <span
                      class="{{
                        val.value == 0
                          ? ''
                          : (val.name == 'Melee' || val.name == 'Range' ? 'summary_stat_atk' : 'summary_stat_matk') + ' bonus_clickable'
                      }}"
                      (click)="val.value && onAtkTypeClick(val)"
                      >{{ val.value || '-' }}</span
                    >
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>
      <div class="col-6">
        <p-table [value]="raceTable" styleClass="p-datatable-sm" [tableStyle]="{ 'min-width': '10rem' }">
          <ng-template pTemplate="header">
            <tr>
              <th class="color_highlight">Raça</th>
              <th title="Físico">F</th>
              <th title="Mágico">M</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-val>
            <tr>
              <td>{{ val.displayName || val.name }}</td>
              <td>
                <span class="{{ val.physical != 0 ? 'summary_stat_atk bonus_clickable' : '' }}" (click)="val.physical && onRaceClick(val, 'physical')">{{ val.physical || '-' }}</span>
              </td>
              <td>
                <span class="{{ val.magical != 0 ? 'summary_stat_matk bonus_clickable' : '' }}" (click)="val.magical && onRaceClick(val, 'magical')">{{ val.magical || '-' }}</span>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>

  <div class="col-5" *ngIf="isShowElementTable">
    <p-table [value]="elementTable" styleClass="p-datatable-sm" [tableStyle]="{ 'min-width': '15rem' }">
      <ng-template pTemplate="header">
        <tr>
          <th class="color_highlight">Elemento</th>
          <th title="Físico">F</th>
          <th title="Mágico">M</th>
          <th>Elem. Mágico</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-val>
        <tr>
          <td>
            <span class="{{ 'font-medium property_' + val.name }}">{{ val.displayName || val.name }}</span>
          </td>
          <td>
            <span class="{{ val.physicalElementToMonster != 0 ? 'summary_stat_atk bonus_clickable' : '' }}" (click)="val.physicalElementToMonster && onElementClick(val, 'physical')">{{
              val.physicalElementToMonster || '-'
            }}</span>
          </td>
          <td>
            <span class="{{ val.magicalElementToMonster != 0 ? 'summary_stat_matk bonus_clickable' : '' }}" (click)="val.magicalElementToMonster && onElementClick(val, 'magical')">{{
              val.magicalElementToMonster || '-'
            }}</span>
          </td>
          <td>
            <span class="{{ val.myElement != 0 ? 'summary_stat_matk bonus_clickable' : '' }}" (click)="val.myElement && onElementClick(val, 'myElement')">{{ val.myElement || '-' }}</span>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <div class="col-12">
    <div class="grid grid-nogutter"></div>
  </div>
</div>
