<div class="grid grid-nogutter p-fluid">
  <div class="col-3">
    <div class="text-xl font-semibold">Consumíveis</div>
    <div class="pt-1" *ngFor="let item of consumables">
      <div class="flex gap-1">
        <img [src]="item.value | iconUrl: 'item'" alt="" class="consumable-icon" />
        <div class="text_ellips">{{ item.label }}</div>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="text-xl font-semibold">Buffs</div>
    <div class="pt-1" *ngFor="let s of buffSkills">
      <span>{{ s.label }}</span
      >:<span class="buff-value-hilight ml-1 font-semibold">{{ s.value }}</span>
    </div>
  </div>
  <div class="col-3">
    <div class="text-xl font-semibold">Habilidades aprendidas</div>
    <div class="pt-1" *ngFor="let s of learnedSkills">
      <span>{{ s.label }}</span
      >:<span class="buff-value-hilight ml-1 font-semibold">{{ s.value }}</span>
    </div>
  </div>
  <div class="col-3">
    <div class="text-xl font-semibold white-space-nowrap">Ativando Habilidades/Efeitos</div>
    <div class="pt-1" *ngFor="let s of activeSkills">
      <span>{{ s.label }}</span
      >:<span class="buff-value-hilight ml-1 font-semibold">{{ s.value }}</span>
    </div>
  </div>
</div>
