<div class="grid grid-nogutter">
  <div class="col-3">
    <div class="grid grid-nogutter {{ !gradeList.length ? 'flex-row-reverse' : 'justify-content-end' }}">
      <div class="col-12" style="display: block; position: relative">
        <p-dropdown
          inputId="baseItem"
          [autoDisplayFirst]="false"
          [resetFilterOnHide]="true"
          [options]="itemList"
          [filter]="true"
          filterBy="label"
          scrollHeight="350px"
          [(ngModel)]="itemId"
          [showClear]="true"
          (onChange)="onSelectItem('itemId', $event.value, itemRefine)"
          (onClear)="onClearItem(itemType)"
          placeholder="{{ placeholder }}"
        >
          <ng-template let-item pTemplate="selectedItem">
            <div class="flex gap-1 item_template" *ngIf="itemId">
              <img [src]="item.value | iconUrl: 'item'" alt="" class="item_img" />
              <div>{{ item.label }}</div>
            </div>
          </ng-template>
          <ng-template let-item pTemplate="item">
            <div class="flex gap-1 {{ item.lv200ClassName }}">
              <img [src]="item.value | iconUrl: 'item'" alt="" style="width: 19px" />
              <div>{{ item.label }}</div>
            </div>
          </ng-template>
        </p-dropdown>
        <label *ngIf="overlayLabel" for="baseItem" class="item_float_label" style="position: absolute; top: -1.5rem">{{ overlayLabel }}</label>
      </div>
      <div class="col-6" [hidden]="!gradeList.length || !itemId">
        <p-dropdown
          [options]="gradeList"
          scrollHeight="350px"
          [showClear]="true"
          [(ngModel)]="itemGrade"
          (onChange)="onSelectGrade($event.value)"
          (onClear)="onSelectGrade('')"
          placeholder="ungrade"
        ></p-dropdown>
      </div>
      <div class="col-4" style="min-width: 70px" *ngIf="refineList.length > 0">
        <p-dropdown
          inputId="baseItemRefine"
          [options]="refineList"
          [(ngModel)]="itemRefine"
          scrollHeight="350px"
          [disabled]="!itemId"
          (onChange)="onSelectItem('itemRefine', itemId, $event.value)"
        >
          <ng-template let-item pTemplate="selectedItem">
            <div class="flex gap-1">
              <div>{{ item.label > 0 ? '+ ' : '' }} {{ item.label || 0 }}</div>
            </div>
          </ng-template>
        </p-dropdown>
      </div>
      <ng-content></ng-content>
    </div>
  </div>
  <div class="col-9">
    <div class="grid grid-nogutter">
      <div class="col-4" [hidden]="totalCardSlots < 1">
        <p-dropdown
          inputId="baseItemCard1"
          [autoDisplayFirst]="false"
          [resetFilterOnHide]="true"
          [options]="cardList"
          [filter]="true"
          filterBy="label,cardPrefix"
          scrollHeight="350px"
          [(ngModel)]="card1Id"
          [disabled]="!itemId"
          [showClear]="true"
          (onChange)="onSelectItem('card1Id', $event.value)"
          placeholder="Carta{{ isWeapon ? ' 1' : '' }}"
        >
          <ng-template *ngIf="!isHeadCardable" let-item pTemplate="selectedItem">
            <div class="flex gap-1 item_template" *ngIf="card1Id">
              <img src="assets/icons/card.png" alt="" class="item_img" />
              <div>{{ item.label }}</div>
            </div>
          </ng-template>

          <ng-template *ngIf="isHeadCardable" let-item pTemplate="selectedItem">
            <div class="flex gap-1 item_template" *ngIf="card1Id">
              <img [src]="item.value | iconUrl: 'item'" alt="" class="item_img" />
              <div>{{ item.label }}</div>
            </div>
          </ng-template>
          <ng-template *ngIf="isHeadCardable" let-item pTemplate="item">
            <div class="flex gap-1">
              <img [src]="item.value | iconUrl: 'item'" alt="" style="width: 19px" />
              <div>{{ item.label }}</div>
            </div>
          </ng-template>
        </p-dropdown>
      </div>
      <div class="col-4" [hidden]="totalCardSlots < 2">
        <p-dropdown
          inputId="baseItemCard2"
          [autoDisplayFirst]="false"
          [resetFilterOnHide]="true"
          [options]="cardList"
          [filter]="true"
          filterBy="label,cardPrefix"
          scrollHeight="350px"
          [(ngModel)]="card2Id"
          [disabled]="!itemId"
          [showClear]="true"
          (onChange)="onSelectItem('card2Id', $event.value)"
          placeholder="Carta 2"
        >
          <ng-template let-item pTemplate="selectedItem">
            <div class="flex gap-1 item_template" *ngIf="card2Id">
              <img src="assets/icons/card.png" alt="" class="item_img" />
              <div>{{ item.label }}</div>
            </div>
          </ng-template>
        </p-dropdown>
      </div>
      <div class="col-4" [hidden]="totalCardSlots < 3">
        <p-dropdown
          inputId="baseItemCard3"
          [autoDisplayFirst]="false"
          [resetFilterOnHide]="true"
          [options]="cardList"
          [filter]="true"
          filterBy="label,cardPrefix"
          scrollHeight="350px"
          [(ngModel)]="card3Id"
          [disabled]="!itemId"
          [showClear]="true"
          (onChange)="onSelectItem('card3Id', $event.value)"
          placeholder="Carta 3"
        >
          <ng-template let-item pTemplate="selectedItem">
            <div class="flex gap-1 item_template" *ngIf="card3Id">
              <img src="assets/icons/card.png" alt="" class="item_img" />
              <div>{{ item.label }}</div>
            </div>
          </ng-template>
        </p-dropdown>
      </div>
      <div class="col-4" [hidden]="totalCardSlots < 4">
        <p-dropdown
          inputId="baseItemCard3"
          [autoDisplayFirst]="false"
          [resetFilterOnHide]="true"
          [options]="cardList"
          [filter]="true"
          filterBy="label,cardPrefix"
          scrollHeight="350px"
          [(ngModel)]="card4Id"
          [disabled]="!itemId"
          [showClear]="true"
          (onChange)="onSelectItem('card4Id', $event.value)"
          placeholder="Carta 4"
        >
          <ng-template let-item pTemplate="selectedItem">
            <div class="flex gap-1 item_template" *ngIf="card4Id">
              <img src="assets/icons/card.png" alt="" class="item_img" />
              <div>{{ item.label }}</div>
            </div>
          </ng-template>
        </p-dropdown>
      </div>
      <div class="col-4" *ngIf="!isWeapon && totalExtraOption < 3" [hidden]="totalExtraOption < 1">
        <p-cascadeSelect
          [(ngModel)]="option1Value"
          [disabled]="!itemId"
          [options]="optionList"
          optionValue="value"
          optionGroupLabel="label"
          optionLabel="label"
          [optionGroupChildren]="['children', 'children', 'children']"
          placeholder="Opção 1"
          [showClear]="true"
          (onChange)="onOptionChange('option1Value', $event)"
          (onClear)="onOptionChange('option1Value', $event)"
        ></p-cascadeSelect>
      </div>
      <div class="col-4" *ngIf="!isWeapon && totalExtraOption < 3" [hidden]="totalExtraOption < 2">
        <p-cascadeSelect
          [(ngModel)]="option2Value"
          [disabled]="!itemId"
          [options]="optionList"
          optionValue="value"
          optionGroupLabel="label"
          optionLabel="label"
          [optionGroupChildren]="['children', 'children', 'children']"
          placeholder="Opção 2"
          [showClear]="true"
          (onChange)="onOptionChange('option2Value', $event)"
          (onClear)="onOptionChange('option2Value', $event)"
        ></p-cascadeSelect>
      </div>

      <div class="col-12" [hidden]="(enchant2List.length === 0 && enchant3List.length === 0 && enchant4List.length === 0) || !itemId">
        <div class="grid grid-nogutter">
          <div class="col-4" [hidden]="enchant1List.length === 0">
            <p-dropdown
              inputId="baseItemEnchant0"
              [autoDisplayFirst]="false"
              [resetFilterOnHide]="true"
              [options]="enchant1List"
              [filter]="true"
              filterBy="label"
              scrollHeight="350px"
              [(ngModel)]="enchant1Id"
              [showClear]="true"
              [disabled]="enchant1List.length === 0 || !itemId"
              (onChange)="onSelectItem('enchant1Id', $event.value)"
              placeholder="Encante 1"
            >
              <ng-template let-item pTemplate="selectedItem">
                <div class="flex gap-1 item_template" *ngIf="enchant1Id">
                  <img [src]="item.value | iconUrl: 'item'" alt="" class="item_img" />
                  <div>{{ item.label }}</div>
                </div>
              </ng-template>
              <ng-template let-item pTemplate="item">
                <div class="flex gap-1">
                  <img [src]="item.value | iconUrl: 'item'" alt="" style="width: 19px" />
                  <div>{{ item.label }}</div>
                </div>
              </ng-template>
            </p-dropdown>
          </div>
          <div class="col-4">
            <p-dropdown
              inputId="baseItemEnchant1"
              [autoDisplayFirst]="false"
              [resetFilterOnHide]="true"
              [options]="enchant2List"
              [filter]="true"
              filterBy="label"
              scrollHeight="350px"
              [(ngModel)]="enchant2Id"
              [showClear]="true"
              [disabled]="enchant2List.length === 0 || !itemId"
              (onChange)="onSelectItem('enchant2Id', $event.value)"
              placeholder="Encante 2"
            >
              <ng-template let-item pTemplate="selectedItem">
                <div class="flex gap-1 item_template" *ngIf="enchant2Id">
                  <img [src]="item.value | iconUrl: 'item'" alt="" class="item_img" />
                  <div>{{ item.label }}</div>
                </div>
              </ng-template>
              <ng-template let-item pTemplate="item">
                <div class="flex gap-1">
                  <img [src]="item.value | iconUrl: 'item'" alt="" style="width: 19px" />
                  <div>{{ item.label }}</div>
                </div>
              </ng-template>
            </p-dropdown>
          </div>
          <div class="col-4">
            <p-dropdown
              inputId="baseItemEnchant2"
              [autoDisplayFirst]="false"
              [resetFilterOnHide]="true"
              [options]="enchant3List"
              [filter]="true"
              filterBy="label"
              scrollHeight="350px"
              [(ngModel)]="enchant3Id"
              [showClear]="true"
              [disabled]="enchant3List.length === 0 || !itemId"
              (onChange)="onSelectItem('enchant3Id', $event.value)"
              placeholder="Encante 3"
            >
              <ng-template let-item pTemplate="selectedItem">
                <div class="flex gap-1 item_template" *ngIf="enchant3Id">
                  <img [src]="item.value | iconUrl: 'item'" alt="" class="item_img" />
                  <div>{{ item.label }}</div>
                </div>
              </ng-template>
              <ng-template let-item pTemplate="item">
                <div class="flex gap-1">
                  <img [src]="item.value | iconUrl: 'item'" alt="" style="width: 19px" />
                  <div>{{ item.label }}</div>
                </div>
              </ng-template>
            </p-dropdown>
          </div>
          <div class="col-4">
            <p-dropdown
              inputId="baseItemEnchant3"
              [autoDisplayFirst]="false"
              [resetFilterOnHide]="true"
              [options]="enchant4List"
              [filter]="true"
              filterBy="label"
              scrollHeight="350px"
              [(ngModel)]="enchant4Id"
              [showClear]="true"
              [disabled]="enchant4List.length === 0 || !itemId"
              (onChange)="onSelectItem('enchant4Id', $event.value)"
              placeholder="Encante 4"
            >
              <ng-template let-item pTemplate="selectedItem">
                <div class="flex gap-1 item_template" *ngIf="enchant4Id">
                  <img [src]="item.value | iconUrl: 'item'" alt="" class="item_img" />
                  <div>{{ item.label }}</div>
                </div>
              </ng-template>
              <ng-template let-item pTemplate="item">
                <div class="flex gap-1">
                  <img [src]="item.value | iconUrl: 'item'" alt="" style="width: 19px" />
                  <div>{{ item.label }}</div>
                </div>
              </ng-template>
            </p-dropdown>
          </div>
        </div>
      </div>

      <div class="col-12" *ngIf="isWeapon || totalExtraOption === 3">
        <div class="grid grid-nogutter">
          <div class="col-4" [hidden]="totalExtraOption < 1">
            <p-cascadeSelect
              [(ngModel)]="option1Value"
              [disabled]="!itemId"
              [options]="optionList"
              optionValue="value"
              optionGroupLabel="label"
              optionLabel="label"
              [optionGroupChildren]="['children', 'children', 'children']"
              placeholder="Opção 1"
              [showClear]="true"
              (onChange)="onOptionChange('option1Value', $event)"
              (onClear)="onOptionChange('option1Value', $event)"
            ></p-cascadeSelect>
          </div>
          <div class="col-4" [hidden]="totalExtraOption < 2">
            <p-cascadeSelect
              [(ngModel)]="option2Value"
              [disabled]="!itemId"
              [options]="optionList"
              optionValue="value"
              optionGroupLabel="label"
              optionLabel="label"
              [optionGroupChildren]="['children', 'children', 'children']"
              placeholder="Opção 2"
              [showClear]="true"
              (onChange)="onOptionChange('option2Value', $event)"
              (onClear)="onOptionChange('option2Value', $event)"
            ></p-cascadeSelect>
          </div>
          <div class="col-4" [hidden]="totalExtraOption < 3">
            <p-cascadeSelect
              [(ngModel)]="option3Value"
              [disabled]="!itemId"
              [options]="optionList"
              optionValue="value"
              optionGroupLabel="label"
              optionLabel="label"
              [optionGroupChildren]="['children', 'children', 'children']"
              placeholder="Opção 3"
              [showClear]="true"
              (onChange)="onOptionChange('option3Value', $event)"
              (onClear)="onOptionChange('option3Value', $event)"
            ></p-cascadeSelect>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="grid grid-nogutter" *ngIf="isAccR">
  <div class="col-12 mb-5" [hidden]="!isEndWithSpace2"></div>
</div>
