<p-toast></p-toast>
<p-confirmDialog [position]="'top'"></p-confirmDialog>

<div class="layout-topbar" style="min-width: 1500px">
  <!-- <a class="layout-topbar-logo" routerLink="">
        <img src="assets/layout/images/{{layoutService.config.colorScheme === 'light' ? 'logo-dark' : 'logo-white'}}.svg" alt="logo">
        <span>SAKAI</span>
      </a> -->
  <span class="px-2">{{ lastestVersion }}</span>
  <button pButton class="p-button-text p-button-info" (click)="showUpdateDialog()">
    <i *ngIf="showUnreadVersion > 0" class="pi pi-bell text-xl" severity="danger" pBadge value="{{ showUnreadVersion }}"></i>
    <i *ngIf="showUnreadVersion === 0" class="pi pi-bell text-xl" severity="danger"></i>
  </button>
  <button pButton class="pl-2 p-button-text p-button-info p-button-raised" (click)="showReferenceDialog()">Referências</button>

  <div class="router-link px-3" style="position: relative; top: -5px">
    <p-tabMenu [model]="items" [activeItem]="activeItem">
      <ng-template pTemplate="item" let-item>
        <a class="flex justify-content-between align-items-center" [routerLink]="item.routerLink">
          <div>
            <span [class]="item.icon"></span>
            <span> {{ item.label }}</span>
          </div>
          <span *ngIf="item.isNew" class="p-tag p-tag-warning ml-2">NOVO</span>
        </a>
      </ng-template>
    </p-tabMenu>
  </div>
  <!-- <div class="grid router_link">
    <div class="col-fixed">
      <a routerLink="/" routerLinkActive="/">Calculator</a>
    </div>
    <div class="col-fixed router_active">
      <a routerLink="/shared-presets" routerLinkActive="/shared-presets">Shared Presets</a>
    </div>
  </div> -->

  <!-- <i (click)="showDialog()" class="pi pi-bell text-3xl" pBadge value="2"></i> -->

  <!-- <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button> -->

  <!-- <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button" (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button> -->
  <!-- <span
    >*** HP/SP ตรง/ไม่ตรงยังไงแจ้งที่ปุ่ม<span style="color: var(--red-300)">Report</span>ทีนะครับว่า
    <span style="color: var(--red-300)">คลาส, เลเวล, จ็อบ, VIT, INT</span>เท่าไหร่ เช็คแล้วเหมือนตรงแค่คลาสหลักที่เวล
    ไม่เกิน175</span
  > -->

  <div #topbarmenu class="layout-topbar-menu" [ngClass]="{ 'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible }">
    <!-- <button class="p-link layout-topbar-button">
            <i class="pi pi-calendar"></i>
            <span>Calendar</span>
        </button>
        <button class="p-link layout-topbar-button">
            <i class="pi pi-user"></i>
            <span>Profile</span>
        </button>
        <button class="p-link layout-topbar-button" [routerLink]="'/documentation'">
            <i class="pi pi-cog"></i>
            <span>Settings</span>
        </button> -->

    <div *ngIf="!!username" class="ml-3 flex align-items-center">
      <p-chip label="{{ username }}" icon="pi pi-google" class="chip-profile" styleClass="text-xl"></p-chip>
      <button class="p-link layout-topbar-button mx-0 icon-user" (click)="showMyProfile()">
        <i class="pi pi-user"></i>
      </button>
      <button pButton class="p-button-text p-button-danger" (click)="logout()">
        <i class="pi pi-sign-out text-xl"></i>
      </button>
    </div>
    <a *ngIf="!username" class="font-bold p-button-secondary" icon="pi pi-google" pButton pRipple label="Entrar" href="{{ env.roBackendUrl + '/auth/google' }}"></a>
  </div>
  <p-dialog header="Informações adicionais" [draggable]="false" [resizable]="false" [modal]="true" [(visible)]="visibleInfo" [style]="{ width: '50vw' }">
    <div class="card flex flex-column align-items-center gap-2 flex-wrap">
      <ul>
        <li *ngFor="let info of infos">{{ info }}</li>
      </ul>

      <div>
        Reportar problema
        <a href="https://web.facebook.com/zfehu.oivgwhy" target="_blank" rel="noreferrer noopener">
          <p-chip label="Tong Aphisit" icon="pi pi-facebook"></p-chip>
        </a>
      </div>
    </div>
  </p-dialog>

  <p-dialog
    [draggable]="false"
    [resizable]="false"
    [modal]="true"
    [(visible)]="visibleUpdate"
    (onHide)="onHideUpdateDialog()"
    [style]="{ height: '70vh' }"
    [position]="'top'"
  >
    <ng-template pTemplate="header">
      <div class="flex">
        <span class="text-xl mr-3 font-medium">NOVIDADES</span>
      </div>
    </ng-template>

    <div *ngFor="let update of updates; index as i" [ngStyle]="{ color: i + 1 > showUnreadVersion ? 'var(--gray-300)' : 'white' }">
      <div class="grid grid-nogutter">
        <div class="p-col-12" style="display: flex; align-content: center; justify-content: center; align-items: center">
          <span class="pr-2">{{ update.v }}</span>
          <span>{{ update.date }} </span>
          <span>
            <button
              *ngIf="unreadVersion === -1 || unreadVersion > i"
              pButton
              class="p-button-text p-button-primary"
              icon="pi pi-eye"
              (click)="onReadUpdateClick(update.v)"
            ></button>
            <i *ngIf="!(unreadVersion === -1 || unreadVersion > i)" class="pi pi-fw pi-eye-slash ml-2"></i>
          </span>
        </div>
      </div>
      <ul class="mt-0">
        <li *ngFor="let log of update.logs">{{ log }}</li>
      </ul>
    </div>
  </p-dialog>

  <p-dialog header="Referências" [draggable]="false" [resizable]="false" [modal]="true" [(visible)]="visibleReference" [style]="{ width: '50vw', height: '70vh' }">
    <ul>
      <li *ngFor="let reference of references">
        <span class="">[ by {{ reference.writer }} ]</span>
        <span class="mx-2">{{ reference.label }}</span>
        <a href="{{ reference.link }}" target="_blank" rel="noreferrer noopener">Link</a>
      </li>
    </ul>
  </p-dialog>
</div>
