<div class="layout-topbar" style="min-width: 1500px">
  <!-- <a class="layout-topbar-logo" routerLink="">
        <img src="assets/layout/images/{{layoutService.config.colorScheme === 'light' ? 'logo-dark' : 'logo-white'}}.svg" alt="logo">
        <span>SAKAI</span>
      </a> -->
  <span class="px-2">{{ lastestVersion }}</span>
  <button pButton class="p-button-text p-button-info" (click)="showUpdateDialog()">
    <i *ngIf="showUnreadVersion > 0" class="pi pi-bell text-xl" severity="danger" pBadge value="{{ showUnreadVersion }}"></i>
    <i *ngIf="showUnreadVersion === 0" class="pi pi-bell text-xl" severity="danger"></i>
  </button>
  <button pButton class="pl-2 p-button-text p-button-info p-button-raised" (click)="showReferenceDialog()">Referências</button>

  <p-dialog header="Informações adicionais" [draggable]="false" [resizable]="false" [modal]="true" [(visible)]="visibleInfo" [style]="{ width: '50vw' }">
    <div class="card flex flex-column align-items-center gap-2 flex-wrap">
      <ul>
        <li *ngFor="let info of infos">{{ info }}</li>
      </ul>

      <div>
        Reportar problema
        <a href="https://web.facebook.com/zfehu.oivgwhy" target="_blank" rel="noreferrer noopener">
          <p-chip label="Tong Aphisit" icon="pi pi-facebook"></p-chip>
        </a>
      </div>
    </div>
  </p-dialog>

  <p-dialog
    [draggable]="false"
    [resizable]="false"
    [modal]="true"
    [(visible)]="visibleUpdate"
    (onHide)="onHideUpdateDialog()"
    [style]="{ height: '70vh' }"
    [position]="'top'"
  >
    <ng-template pTemplate="header">
      <div class="flex">
        <span class="text-xl mr-3 font-medium">NOVIDADES</span>
      </div>
    </ng-template>

    <div *ngFor="let update of updates; index as i" [ngStyle]="{ color: i + 1 > showUnreadVersion ? 'var(--gray-300)' : 'white' }">
      <div class="grid grid-nogutter">
        <div class="p-col-12" style="display: flex; align-content: center; justify-content: center; align-items: center">
          <span class="pr-2">{{ update.v }}</span>
          <span>{{ update.date }} </span>
          <span>
            <button
              *ngIf="unreadVersion === -1 || unreadVersion > i"
              pButton
              class="p-button-text p-button-primary"
              icon="pi pi-eye"
              (click)="onReadUpdateClick(update.v)"
            ></button>
            <i *ngIf="!(unreadVersion === -1 || unreadVersion > i)" class="pi pi-fw pi-eye-slash ml-2"></i>
          </span>
        </div>
      </div>
      <ul class="mt-0">
        <li *ngFor="let log of update.logs">{{ log }}</li>
      </ul>
    </div>
  </p-dialog>

  <p-dialog header="Referências" [draggable]="false" [resizable]="false" [modal]="true" [(visible)]="visibleReference" [style]="{ width: '50vw', height: '70vh' }">
    <ul>
      <li *ngFor="let reference of references">
        <span class="">[ by {{ reference.writer }} ]</span>
        <span class="mx-2">{{ reference.label }}</span>
        <a href="{{ reference.link }}" target="_blank" rel="noreferrer noopener">Link</a>
      </li>
    </ul>
  </p-dialog>
</div>
