<button
  pButton
  (click)="showSearchDialog()"
  class="p-button-info p-button-raised px-1"
  style="position: fixed; top: 42%; z-index: 999; right: 0"
>
  <i class="pi pi-search"></i>
  <div class="pl-1">Itens</div>
</button>
<p-dialog
  header="{{ selectedCharacter?.className }}"
  [draggable]="false"
  [resizable]="false"
  [modal]="true"
  [closeOnEscape]="true"
  [(visible)]="isShowSearchDialog"
  [style]="{ width: '75vw', height: '90vh', 'min-width': '750px' }"
>
  <div class="p-fluid grid grid-nogutter">
    <div class="col-12 item-position-list">
      <p-listbox
        [options]="itemPositionOptions"
        [(ngModel)]="selectedItemPositions"
        [metaKeySelection]="false"
        [multiple]="true"
        [listStyle]="{ 'max-height': '600px' }"
      >
        <ng-template let-item pTemplate="item">
          <div class="flex item-position-{{ item.value }}" style="background-color: var(--border-radius)">
            <div>{{ item.label }}</div>
          </div>
        </ng-template>
      </p-listbox>
    </div>
    <div class="col-12 grid grid-nogutter">
      <div class="col-6 grid grid-nogutter">
        <div class="col-6">
          <p-cascadeSelect
            [(ngModel)]="selectedBonus[0]"
            [options]="bonusNameList"
            optionValue="value"
            optionGroupLabel="label"
            optionLabel="label"
            [optionGroupChildren]="['children', 'children']"
            placeholder="Bônus 1"
            [showClear]="true"
          ></p-cascadeSelect>
        </div>
        <div class="col-6">
          <p-cascadeSelect
            [(ngModel)]="selectedBonus[1]"
            [options]="bonusNameList"
            optionValue="value"
            optionGroupLabel="label"
            optionLabel="label"
            [optionGroupChildren]="['children', 'children']"
            placeholder="Bônus 2"
            [showClear]="true"
          ></p-cascadeSelect>
        </div>
        <div class="col-6">
          <p-cascadeSelect
            [(ngModel)]="selectedBonus[2]"
            [options]="bonusNameList"
            optionValue="value"
            optionGroupLabel="label"
            optionLabel="label"
            [optionGroupChildren]="['children', 'children']"
            placeholder="Bônus 3"
            [showClear]="true"
          ></p-cascadeSelect>
        </div>
        <div class="col-6">
          <p-cascadeSelect
            [(ngModel)]="selectedBonus[3]"
            [options]="bonusNameList"
            optionValue="value"
            optionGroupLabel="label"
            optionLabel="label"
            [optionGroupChildren]="['children', 'children']"
            placeholder="Bônus 4"
            [showClear]="true"
          ></p-cascadeSelect>
        </div>
        <div class="col-12 px-2 py-2 flex justify-content-between">
          <div class="search-mode flex">
            <p-inputSwitch inputId="search_mode" [(ngModel)]="isSerchMatchAllBonus"></p-inputSwitch>
            <span *ngIf="isSerchMatchAllBonus" class="px-2">Item must include all selected bonuses</span>
            <span *ngIf="!isSerchMatchAllBonus" class="px-2">Item must include at least 1 of selected bonuses</span>
          </div>
          <div class="search-btn">
            <button pButton class="p-button-info" (click)="onItemSearchFilterChange()">Search</button>
          </div>
        </div>
      </div>
      <div class="col-6 grid grid-nogutter">
        <div class="col-12 skill-list">
          <p-listbox
            [options]="offensiveSkills"
            [(ngModel)]="selectedOffensiveSkills"
            [metaKeySelection]="false"
            [multiple]="true"
          ></p-listbox>
        </div>
      </div>
    </div>

    <div class="col-4 search_table">
      <p-table
        datakey="id"
        [value]="filteredItems"
        selectionMode="single"
        [(selection)]="activeFilteredItem"
        [tableStyle]="{ 'min-width': '20rem' }"
        styleClass="p-datatable-sm"
        [paginator]="true"
        [rows]="14"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="{totalRecords} items"
        [pageLinks]="4"
        [(first)]="itemSearchFirst"
        [totalRecords]="totalFilteredItems"
        (onRowSelect)="onSelectFilteredItem($event.data)"
        (onRowUnselect)="onSelectFilteredItem($event.data)"
      >
        <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
          <tr [pSelectableRow]="item" [pSelectableRowIndex]="rowIndex">
            <td>
              <div
                class="flex gap-1 item_template item_label_{{ item.value }}"
                style="background-color: var(--border-radius)"
              >
                <img [src]="item.id | iconUrl: 'item'" alt="" class="item_img" />
                <div class="text_ellips">
                  {{ item.label }}
                </div>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <div class="col-8">
      <div class="grid grid-nogutter ml-2" style="max-height: 500px; overflow: auto">
        <div class="col-12">
          ID: {{ activeFilteredItem?.id }} <br />
          Name: {{ activeFilteredItem?.label }}
        </div>
        <div class="col-fixed px-2 py-2" style="color: #000; background-color: #fff; width: 100px">
          <img
            *ngIf="seletedItemId"
            src="https://www.divine-pride.net/img/items/collection/thROG/{{ seletedItemId }}"
            alt=""
          />
        </div>
        <div
          class="col px-2 py-2"
          style="color: #000; background-color: #fff"
          [innerHTML]="activeFilteredItemDesc"
        ></div>
      </div>
    </div>
  </div>
</p-dialog>
