<div class="grid grid-nogutter">
  <div class="col-fixed mb-2">
    <div class="equipmentPreview" style="width: 450px">
      <div class="panel">
        <table class="equipmentTable text-blue-500">
          <tbody>
            <tr *ngFor="let itemTypes of mainItemNames; let i = index">
              <td class="main_left_item">
                <div class="flex gap-1">
                  <img
                    *ngIf="model[itemTypes[0]]"
                    [src]="model[itemTypes[0]] | iconUrl: 'item'"
                    alt=""
                    class="item_img"
                  />
                  <div class="text_ellips font-medium">
                    <span class="font-bold" *ngIf="model[itemTypes[0] + 'Refine'] > 0"
                      >+{{ model[itemTypes[0] + 'Refine'] }}</span
                    >
                    {{ itemMap[model[itemTypes[0]]]?.name || '' }}
                  </div>
                </div>
              </td>
              <td *ngIf="i === 0" rowspan="6">
                <div class="ammo_container" *ngIf="model.ammo">
                  <img [src]="model.ammo | iconUrl: 'item'" alt="" class="item_img" />
                  <div class="text_ellips font-medium">
                    {{ itemMap[model.ammo]?.name || '' }}
                  </div>
                </div>
              </td>

              <td class="main_right_item">
                <div class="flex flex-row-reverse gap-1">
                  <img
                    *ngIf="!!model[itemTypes[1]] || !!model[itemTypes[2]]"
                    [src]="(model[itemTypes[1]] || model[itemTypes[2]]) | iconUrl: 'item'"
                    alt=""
                    class="item_img"
                  />
                  <div class="text_ellips font-medium">
                    <span
                      class="font-bold"
                      *ngIf="model[itemTypes[1] + 'Refine'] > 0 || model[itemTypes[2] + 'Refine'] > 0"
                      >+{{ model[itemTypes[1] + 'Refine'] || model[itemTypes[2] + 'Refine'] }}</span
                    >
                    {{ itemMap[model[itemTypes[1]] || model[itemTypes[2]]]?.name || '' }}
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-fixed">
    <div class="equipmentPreview" style="width: 450px">
      <div class="panel">
        <table class="equipmentTable text-blue-500">
          <tbody>
            <tr *ngFor="let itemTypes of shadowItemNames; let i = index">
              <td class="shadow_left_item">
                <div class="flex gap-1">
                  <img
                    *ngIf="model[itemTypes[0]]"
                    [src]="model[itemTypes[0]] | iconUrl: 'item'"
                    alt=""
                    class="item_img"
                  />
                  <div class="text_ellips font-medium">
                    <span class="font-bold" *ngIf="model[itemTypes[0] + 'Refine'] > 0"
                      >+{{ model[itemTypes[0] + 'Refine'] }}</span
                    >
                    {{ itemMap[model[itemTypes[0]]]?.name || '' }}
                  </div>
                </div>
              </td>
              <td *ngIf="i === 0" rowspan="6">
                <div class="ammo_container" *ngIf="model.costumeEnchantGarment4">
                  <img [src]="model.costumeEnchantGarment4 | iconUrl: 'item'" alt="" class="item_img" />
                  <div class="text_ellips font-medium">
                    {{ itemMap[model.costumeEnchantGarment4]?.name || '' }}
                  </div>
                </div>
              </td>

              <td class="shadow_right_item">
                <div class="flex flex-row-reverse gap-1">
                  <img
                    *ngIf="model[itemTypes[1]]"
                    [src]="model[itemTypes[1]] | iconUrl: 'item'"
                    alt=""
                    class="item_img"
                  />
                  <div class="text_ellips font-medium">
                    <span class="font-bold" *ngIf="model[itemTypes[1] + 'Refine'] > 0"
                      >+{{ model[itemTypes[1] + 'Refine'] }}</span
                    >
                    {{ itemMap[model[itemTypes[1]]]?.name || '' }}
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
