<div class="grid grid-nogutter" style="min-width: 1500px">
  <div class="col-12 mb-2">
    <div class="grid grid-nogutter column_list">
      <p-listbox [options]="allClasses" [(ngModel)]="selectedJobId" (onChange)="onJobChange()" [disabled]="isLoading">
        <ng-template let-item pTemplate="item" class="py-0">
          <div class="flex gap-2 py-0">
            <img [src]="item.icon | iconUrl: 'job'" alt="" class="job_img" />
            <div class="text_ellips">{{ item.label }}</div>
          </div>
        </ng-template>
      </p-listbox>
    </div>
  </div>
  <div class="col-12 grid grid-nogutter">
    <div class="col-3">
      <div class="card text-lg m-0 p-2">
        <div>Information date: 31-05-2568</div>
        <div>
          Total <span class="text-primary text-lg">{{ jobSummary[0] | number }}</span> accounts,
          <span class="text-primary text-lg">{{ totalPresets | number }}</span> presets
        </div>
        <div>
          <span class="mr-2 font-medium">{{ selectedJobName }}</span>
          <span class="text-primary">{{ totalAccounts | number }}</span> accounts, <span class="text-primary">{{ totalCurrentJobPresets | number }}</span> presets
        </div>
      </div>

      <p-listbox [options]="skillRankingList" [(ngModel)]="selectedSkillName" (onChange)="onSkillChange()" [disabled]="isLoading">
        <ng-template let-item pTemplate="item" class="py-0">
          <div class="w-full flex justify-content-between">
            <div class="text_ellips">{{ item.label }}</div>
            <div class="text_ellips">( {{ item.total | number }} accounts, {{ item.totalPresets | number }} presets )</div>
          </div>
        </ng-template>
      </p-listbox>
      <div class="card px-1 py-3 sticky desc-sticky">
        <div class="text-lg font-bold mb-3">Descrição do Item</div>
        <div class="mb-4" *ngFor="let selectedItem of displaySelectedItems">
          <div class="flex gap-1 mb-2" *ngIf="selectedItemId">
            <img [src]="selectedItem.id | iconUrl: 'item'" alt="" class="item_img" />
            <div class="text_ellips font-medium">
              {{ selectedItem.name }}
            </div>
          </div>
          <div class="px-2 py-2" style="color: #000; background-color: #fff" [innerHTML]="selectedItem.desc"></div>
        </div>
      </div>
    </div>
    <div class="col-9 grid grid-nogutter">
      <div class="col-6 p-1" *ngFor="let position of allItemPositions" [hidden]="!rankingMap[position].length">
        <div class="card m-0 p-2 flex justify-content-around">
          <div class="font-bold text-lg">
            {{ position }}
          </div>
          <div *ngIf="isItemHasEnchant[position]">
            <p-checkbox [(ngModel)]="isShowEnchant[position]" [binary]="true" label="Mostrar encante" (ngModelChange)="onToggleShowEnchantClick(position)"></p-checkbox>
          </div>
        </div>
        <p-listbox [options]="rankingMap[position]" [(ngModel)]="selectedItemId" (onChange)="onItemChange()" optionValue="ItemId">
          <ng-template let-rank pTemplate="item" styleClass="py-0 xxx">
            <div *ngIf="!rank.IsEnchant" class="flex w-full justify-content-between">
              <div class="flex gap-1" *ngIf="rank.ItemId">
                <img [src]="rank.ItemId | iconUrl: 'item'" alt="" class="item_img" />
                <div class="text_ellips font-medium">
                  {{ rank.ItemName }}
                </div>
              </div>
              <div class="mt-2 md:mt-0 flex align-items-center" style="min-width: 130px">
                <div class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem" [ngStyle]="{ height: '8px' }">
                  <div class="bg-{{ rank.ColorStyle }} h-full" [ngStyle]="{ width: rank.Percentage + '%' }"></div>
                </div>
                <span class="text-{{ rank.ColorStyle }} ml-2">{{ rank.Percentage }} %</span>
              </div>
            </div>

            <div *ngIf="rank.IsEnchant" class="flex pl-4 w-full justify-content-between">
              <div class="flex gap-2 w-full">
                <div class="flex gap-1 {{ rank.EnchantInfos.length === 3 ? 'item_enchant' : '' }}" *ngFor="let enchant of rank.EnchantInfos">
                  <img [src]="enchant.id | iconUrl: 'item'" alt="" class="item_img" />
                  <div>{{ enchant.name }}</div>
                </div>
              </div>
              <div class="mt-2 md:mt-0 flex align-items-center" style="min-width: 130px">
                <div class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem" [ngStyle]="{ height: '8px' }">
                  <div class="bg-yellow-300 h-full" [ngStyle]="{ width: rank.Percentage + '%' }"></div>
                </div>
                <span class="text-yellow-300 ml-2">{{ rank.Percentage }} %</span>
              </div>
            </div>
          </ng-template>
        </p-listbox>
      </div>
    </div>
  </div>
</div>
