<div class="grid grid-nogutter">
  <div class="col-12">
    HP
    <span class="summary_monster_value px-1 font-semibold">{{ totalSummary?.monster?.hp | number }}</span>
  </div>
  <div class="col-12">
    DEF
    <span class="summary_monster_value px-1 font-semibold">{{ totalSummary?.monster?.softDef }} + {{ totalSummary?.monster?.def }}</span>
  </div>
  <div class="col-12">
    DEFM
    <span class="summary_monster_value px-1 font-semibold">{{ totalSummary?.monster?.softMDef }} + {{ totalSummary?.monster?.mdef }}</span>
  </div>
  <div class="col-12">
    Req.Hit100
    <span class="summary_monster_value px-1 font-semibold">{{ totalSummary?.monster?.hitRequireFor100 }}</span>
  </div>
  <div class="col-12 flex justify-content-around">
    <div>
      RES
      <span class="summary_monster_value px-1 font-semibold" style="color: var(--orange-300)">
        {{ totalSummary?.monster?.res }}
      </span>
    </div>
    <div>
      RESM
      <span class="summary_monster_value px-1 font-semibold" style="color: var(--blue-300)">
        {{ totalSummary?.monster?.mres }}
      </span>
    </div>
  </div>
  <div class="col-12">
    <span class="summary_monster_value px-1 font-bold" style="color: var(--red-500)">{{ totalSummary?.monster?.typeUpper | monsterTerm: 'type' }}</span>
    <span *ngIf="totalSummary?.monster?.isMvp" class="font-bold px-1">MVP</span>
  </div>
  <div class="col-12">
    <span class="{{ 'property_' + totalSummary?.monster?.elementUpper }} summary_monster_value px-1 font-semibold">{{ totalSummary?.monster?.elementLevelUpper | monsterTerm: 'element' }}</span>
    <span>
      <button
        pButton
        type="button"
        class="p-button-text p-button-warning py-0"
        icon="pi pi-search"
        [disabled]="isInProcessingPreset"
        (click)="onShowElementalTableClick()"
      ></button>
    </span>
  </div>
  <div class="col-12">
    <span class="summary_monster_value px-1 font-semibold" style="color: var(--yellow-300)">{{ totalSummary?.monster?.raceUpper | monsterTerm: 'race' }}</span>
  </div>
  <div class="col-12">
    <span class="summary_monster_value px-1 font-semibold" style="color: var(--cyan-300)">{{ totalSummary?.monster?.sizeFullUpper | monsterTerm: 'size' }}</span>
  </div>
  <div class="col-12 flex justify-content-around">
    <div>
      FOR
      <span class="summary_monster_value px-1 font-semibold" style="color: var(--red-300)">
        {{ totalSummary?.monster?.str }}
      </span>
    </div>
    <div>
      INT
      <span class="summary_monster_value px-1 font-semibold" style="color: var(--blue-300)">
        {{ totalSummary?.monster?.int }}
      </span>
    </div>
  </div>
  <div class="col-12 flex justify-content-around">
    <div>
      DES
      <span class="summary_monster_value px-1 font-semibold" style="color: var(--green-300)">
        {{ totalSummary?.monster?.dex }}
      </span>
    </div>
    <div>
      AGI
      <span class="summary_monster_value px-1 font-semibold" style="color: var(--green-300)">
        {{ totalSummary?.monster?.agi }}
      </span>
    </div>
  </div>
  <div class="col-12 flex justify-content-around">
    <div>
      VIT
      <span class="summary_monster_value px-1 font-semibold" style="color: var(--yellow-300)">
        {{ totalSummary?.monster?.vit }}
      </span>
    </div>
    <div>
      SOR
      <span class="summary_monster_value px-1 font-semibold" style="color: var(--yellow-300)">
        {{ totalSummary?.monster?.luk }}
      </span>
    </div>
  </div>
</div>
