<div class="grid grid-nogutter">
  <div class="col-8">
    <div *ngFor="let item of displayMainItems" class="grid grid-nogutter item_label_{{ item.itemType }}">
      <div class="col-12 flex gap-2">
        <div *ngIf="item.mainId" class="item_template mt-1">
          <img [src]="item.mainId | iconUrl: 'item'" alt="" class="item_img" />
        </div>
        <div *ngIf="item.mainId" class="grid grid-nogutter mt-1">
          <div *ngFor="let cardId of item.cardIds" class="col-12">
            <div class="item_template flex gap-1">
              <img *ngIf="item.isHead" [src]="cardId | iconUrl: 'item'" alt="" class="item_img" />
              <img *ngIf="!item.isHead" src="assets/icons/card.png" alt="" class="item_img" />
              <div class="text_ellips pr-2" style="text-overflow: ellipsis">
                {{ getItemLabel(cardId) }}
              </div>
            </div>
          </div>
          <div *ngFor="let enchantId of item.enchantIds" class="col-12">
            <div class="item_template flex gap-1">
              <img [src]="enchantId | iconUrl: 'item'" alt="" class="item_img" />
              <div class="text_ellips pr-2" style="text-overflow: ellipsis">
                {{ getItemLabel(enchantId) }}
              </div>
            </div>
          </div>
          <div class="col-12 flex gap-2">
            <div *ngFor="let txt of item.optionTxts">
              <div class="option-txt-label">{{ txt }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div *ngFor="let item of displayShadowItems" class="flex gap-2 item_label_{{ item.itemType }}">
      <div *ngIf="item.mainId" class="item_template mt-1">
        <img [src]="item.mainId | iconUrl: 'item'" alt="" class="item_img" />
      </div>
      <div *ngIf="item.mainId" class="flex gap-2 mt-1">
        <div *ngFor="let txt of item.optionTxts">
          <div class="option-txt-label">{{ txt }}</div>
        </div>
        <div *ngIf="!item.optionTxts?.length">
          <div class="option-txt-label">no option</div>
        </div>
      </div>
    </div>
  </div>
</div>
